<!-- Brand logo strip -->
 <section class="py-5 bg-light">
  <div class="container text-center">
    <h2 class="mb-4 text-muted py-5">Trusted by leading brands</h2>
    <div class="row justify-content-center align-items-center py-5">
      <div class="col-4 col-md-2 mb-3">
        <img src="../images/cars/logo/porsche.svg" class="img-fluid grayscale" alt="Toyota">
      </div>
      <div class="col-4 col-md-2 mb-3">
        <img src="../images/cars/logo/mercedes-benz-logo.png" class="img-fluid grayscale" alt="Mercedes-Benz">
      </div>
      <div class="col-4 col-md-2 mb-3">
        <img src="../images/cars/logo//bmw.png" class="img-fluid grayscale" alt="BMW">
      </div>
      <div class="col-4 col-md-2 mb-3">
        <img src="../images/cars/logo/honda_logo.png" class="img-fluid grayscale" alt="Honda">
      </div>
      <div class="col-4 col-md-2 mb-3">
        <img src="../images/cars/logo/lexus.png" class="img-fluid grayscale" alt="Uber Partner">
      </div>
    </div>
  </div>
</section>